<ion-header>
  <ion-navbar>
    <ion-title>
      Bienvenido, {{account?.firstName}}!
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">
        Salir
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        {{'WELCOME_INTRO' | translate}}
        <!--<button ion-button item-end icon-left (click)="refresh()" *ngIf="actualizacionOnLine">-->
        <button ion-button item-end icon-left (click)="refresh()">
          <ion-icon name="refresh"></ion-icon>
          Actualizar
        </button>
      </ion-item>
    <!--<ion-item>
      <ion-label>Actualización On-line</ion-label>
      <ion-toggle [(ngModel)]="actualizarOnLine" name="actualizarOnLine" (ionChange)="cambiarActualizacion()">Actualizacion On-Line</ion-toggle>
    </ion-item> -->
  </ion-list>
  <ion-card *ngFor="let cuenta of cuentas">
    <ion-item>
      <p>Banco {{cuenta.banco}}</p>
    </ion-item>
    <ion-card-content>
      <h2>Alias: {{cuenta.aliasCbu}}</h2>
      <p>CBU: {{cuenta.cbu}}</p>
      <p><b>Saldo: $ {{cuenta.saldo}}</b></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="cuentas?.length">
    <ion-card-content>
      <p><b>Saldo Total: $ {{getSaldoTotal()}}</b></p>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="!cuentas?.length">
      No se encontraron cuentas configuradas en su billetera
  </ion-item>

  <!--<ion-item>
    <ion-input type="text" placeholder="Ingresar Datos..." [(ngModel)]="qrData"></ion-input>
  </ion-item>

  <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Crear Codigo</button>
  <button ion-button full icon-right (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Leer Codigo</button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value] = "createdCode">
    </ngx-qrcode>
    <ion-card-content>
      <p>Valor Creado: {{createdCode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Resultado Scaneado: {{scannedCode}}
    </ion-card-content>
  </ion-card>-->
</ion-content>
